@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    background: url("../../images/bg.png"), no-repeat;
}

.active {
    background-image: linear-gradient(to bottom, #000000, #331d1f, #61342e, #8e5135, #b37537, #b37537, #b37537, #b37537, #8e5135, #61342e, #331d1f, #000000);
    
}

p {
    color: #b37537;
}

.card {
background-color: rgba(47,79,79 ,.5) !important;
border: none !important;
width: 500px;
height: 700px;
margin-right: 15px;
}

li{
list-style: none;
color: #b37537;
}
ul{
    color: #b37537;

}

h5 {
    color: #b37537;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: #000000 4px 4px 4px;
}

.adresse {
    text-decoration: underline;
    font-weight: bold;
    font-size: 17px;
    text-shadow: #000000 4px 4px 4px;
    white-space: nowrap;
}

/*Responsive Smartphone*/

@media only screen and (max-width: 760px) {

footer {
    position: relative !important;
    padding-bottom: 1px;
    width: 100%;
}

img {
    width: 100%
}

}

/*Responsive Tab*/

@media only screen and (min-width: 760px) and (max-width: 1280px) {

footer {
    position: relative !important;
    padding-bottom: 1px;
    width: 100%;
}

img {
    width: 100%
}

}